Repository josephrclick/briefcase-extension: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{json,md,css,html}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

refactor: migrate hooks to hierarchical Python structure (issue #10)
  .claude/HOOKS_DOCUMENTATION.md
  .claude/hooks/PostToolUse/prettier_format.py
  .claude/hooks/PreToolUse/bash_validator.py
  .claude/hooks/PreToolUse/file_protection.py
  .claude/hooks/__pycache__/common.cpython-312.pyc
  .claude/hooks/bash-validator.json
  .claude/hooks/common.py
  .claude/hooks/file-protection.json
  .claude/hooks/prettier-format.sh
  .claude/hooks/validate-bash.py
  .claude/settings.json
  CLAUDE.md
Due: prettier --write

Autogenerated commit message
  commitlint.config.cjs
Due: none

feat: complete feat consolidate github workflows issue 11
  .claude/.github/workflows/claude-code-review.yml
  .claude/.github/workflows/claude.yml
  .claude/hooks/__pycache__/common.cpython-312.pyc
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
  .github/workflows/ci.yml
  CLAUDE.md
Due: prettier --write

Autogenerated commit message
  CLAUDE.md
  commitlint.config.cjs
Due: prettier --write

feat(extractor): implement readability.js for content extraction
  package-lock.json
  package.json
  packages/extractor/index.test.ts
  packages/extractor/index.ts
  packages/extractor/package.json
  tsconfig.json
  vitest.config.ts
Due: prettier --write, eslint --fix

docs: update work log for readability.js implementation
  CLAUDE.md
Due: prettier --write

fix: remove invalid skip_conditions from workflow
  .github/workflows/claude-code-review.yml
Due: none

fix: resolve shellcheck warnings and update action version
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix: add anthropic_api_key to claude-code-review workflow
  .github/workflows/claude-code-review.yml
Due: none

fix: use valid claude model identifier
  .github/workflows/claude-code-review.yml
Due: none

Autogenerated commit message
  .claude/archives/2025/worklog-2025-08-25-feat-consolidate-github-workflows-issue-11.md
  .claude/archives/2025/worklog-2025-08-25-implement-readability-js-content-extraction-issue-14-.md
  .claude/archives/2025/worklog-2025-08-25-pre-commit-hooks-setup-issue-8-.md
  .claude/archives/2025/worklog-2025-08-25-work-log-update-automation-issue-7-.md
  .claude/archives/INDEX.md
  CLAUDE.md
  apps/extension/manifest.json
  apps/extension/src/background.js
Due: prettier --write, eslint --fix

feat: implement live ollama provider with streaming support (#15)
  packages/providers/.eslintignore
  packages/providers/ollama.test.ts
  packages/providers/ollama.ts
Due: prettier --write, eslint --fix

chore: remove work log feature and related infrastructure
  .claude/WORKLOG_AUTOMATION.md
  .claude/WORKLOG_PRUNING.md
  .claude/archives/2025/worklog-2025-08-24-part1.md
  .claude/archives/2025/worklog-2025-08-25-feat-consolidate-github-workflows-issue-11.md
  .claude/archives/2025/worklog-2025-08-25-implement-readability-js-content-extraction-issue-14-.md
  .claude/archives/2025/worklog-2025-08-25-pre-commit-hooks-setup-issue-8-.md
  .claude/archives/2025/worklog-2025-08-25-work-log-update-automation-issue-7-.md
  .claude/archives/INDEX.md
  .claude/commands/gather-memories.md
  .claude/scripts/prune-worklog.js
  .claude/scripts/update-worklog.sh
  .github/workflows/verify-worklog.yml
  .prettierignore
  CLAUDE.md
  package.json
Due: prettier --write, eslint --fix

feat(extension): connect background and content scripts #23
  apps/extension/src/background.js
  apps/extension/src/contentScript.js
Due: prettier --write, eslint --fix

refactor(extension): implement pr feedback for message handling
  apps/extension/src/background.js
  apps/extension/src/contentScript.js
Due: prettier --write, eslint --fix

feat(extension): connect background script to llm provider #24
  apps/extension/src/background.js
Due: prettier --write, eslint --fix

fix(extension): address code review feedback for pr #27
  apps/extension/panel/index.html
  apps/extension/src/background.js
Due: prettier --write, eslint --fix

feat(extension): stream summary from background to panel ui
  apps/extension/panel/panel.js
  apps/extension/src/background.js
Due: prettier --write, eslint --fix

feat: upgrade side panel to react & typescript
  apps/extension/manifest.json
  apps/extension/package.json
  apps/extension/src/sidepanel/App.tsx
  apps/extension/src/sidepanel/components/Header.tsx
  apps/extension/src/sidepanel/components/TabNavigation.tsx
  apps/extension/src/sidepanel/components/controls/FocusInput.tsx
  apps/extension/src/sidepanel/components/controls/LengthSelector.tsx
  apps/extension/src/sidepanel/components/controls/StyleSelector.tsx
  apps/extension/src/sidepanel/components/display/LoadingIndicator.tsx
  apps/extension/src/sidepanel/components/display/StreamingText.tsx
  apps/extension/src/sidepanel/components/tabs/CompareTab.tsx
  apps/extension/src/sidepanel/components/tabs/SettingsTab.tsx
  apps/extension/src/sidepanel/components/tabs/SummarizeTab.tsx
  apps/extension/src/sidepanel/hooks/useExtensionPort.ts
  apps/extension/src/sidepanel/hooks/useHydration.tsx
  apps/extension/src/sidepanel/hooks/useStreamingText.ts
  apps/extension/src/sidepanel/index.html
  apps/extension/src/sidepanel/main.tsx
  apps/extension/src/sidepanel/stores/settings.store.ts
  apps/extension/src/sidepanel/stores/summarization.store.ts
  apps/extension/src/sidepanel/stores/ui.store.ts
  apps/extension/src/sidepanel/styles/index.css
  apps/extension/src/sidepanel/styles/variables.css
  apps/extension/tsconfig.json
  apps/extension/vite.config.ts
  package-lock.json
Due: prettier --write, eslint --fix

fix: resolve all typescript type checking errors
  apps/extension/src/sidepanel/App.tsx
  apps/extension/src/sidepanel/hooks/useHydration.tsx
  apps/extension/src/sidepanel/hooks/useStreamingText.ts
  apps/extension/tsconfig.json
  apps/extension/tsconfig.vite.json
  tsconfig.json
Due: prettier --write, eslint --fix

fix: resolve chrome extension mime type error for side panel
  apps/extension/src/sidepanel/index.html
  apps/extension/vite.config.ts
Due: prettier --write, eslint --fix

Autogenerated commit message
  .claude/commands/fix-issue.md
Due: prettier --write

feat: implement offscreen document for database operations
  apps/extension/manifest.json
  apps/extension/src/background/offscreenProxy.ts
  apps/extension/src/offscreen/connectionManager.ts
  apps/extension/src/offscreen/offscreen.html
  apps/extension/src/offscreen/offscreen.ts
  apps/extension/src/types/messages.ts
Due: prettier --write, eslint --fix

fix: resolve typescript type errors in offscreen proxy
  apps/extension/src/background/offscreenProxy.ts
Due: prettier --write, eslint --fix

feat: implement cloud code reviewer recommendations
  apps/extension/src/background/offscreenProxy.ts
  apps/extension/src/offscreen/connectionManager.ts
Due: prettier --write, eslint --fix

feat: implement critical cloud code reviewer recommendations
  apps/extension/src/background.js
  apps/extension/src/background/offscreenProxy.ts
  apps/extension/src/offscreen/connectionManager.ts
  apps/extension/src/offscreen/offscreen.html
Due: prettier --write, eslint --fix

test: implement comprehensive test coverage for offscreen document
  apps/extension/src/__tests__/TEST_IMPLEMENTATION_SUMMARY.md
  apps/extension/src/__tests__/unit/connectionManager.test.ts
  apps/extension/src/__tests__/unit/errorRecovery.test.ts
  apps/extension/src/__tests__/unit/messages.test.ts
  apps/extension/src/__tests__/utils/dbFixtures.ts
  apps/extension/src/__tests__/utils/messageHelpers.ts
  apps/extension/src/__tests__/utils/mockChromeApi.ts
Due: prettier --write, eslint --fix

fix: resolve all typescript errors in tests and source files
  apps/extension/src/__tests__/unit/connectionManager.test.ts
  apps/extension/src/__tests__/unit/errorRecovery.test.ts
  apps/extension/src/__tests__/unit/messages.test.ts
  apps/extension/src/__tests__/utils/mockChromeApi.ts
  apps/extension/src/background/offscreenProxy.ts
Due: prettier --write, eslint --fix

fix: remove unused variables in error recovery tests
  CLAUDE.md
  apps/extension/src/__tests__/unit/errorRecovery.test.ts
Due: prettier --write, eslint --fix

feat: implement comprehensive database message protocol (#37)
  apps/extension/src/__tests__/unit/protocol.test.ts
  apps/extension/src/background.ts
  apps/extension/src/background/offscreenProxy.ts
  apps/extension/src/offscreen/offscreen.ts
  apps/extension/src/types/database.ts
  apps/extension/src/types/errors.ts
  apps/extension/src/types/messages.ts
  apps/extension/src/types/streaming.ts
Due: prettier --write, eslint --fix

fix: address critical security issues from code review
  apps/extension/src/offscreen/offscreen.ts
  apps/extension/src/types/errors.ts
Due: prettier --write, eslint --fix

feat: implement SQLite WASM integration with OPFS persistence (issues #49, #50, #51)
  .github/tmp/issue49.md
  .github/tmp/issue50.md
  .github/tmp/issue51.md
  _docs/worktree-instructions.md
  apps/extension/e2e/opfs-persistence.test.ts
  apps/extension/manifest.json
  apps/extension/src/__tests__/unit/connectionManager.test.ts
  apps/extension/src/offscreen/connectionManager.ts
  apps/extension/src/offscreen/offscreen.ts
  apps/extension/vite.config.ts
  eslint.config.js
  packages/db/schema.sql
  packages/db/sqlite.test.ts
  packages/db/sqlite.ts
  packages/db/sqlite3/.eslintignore
  packages/db/sqlite3/sqlite3-bundler-friendly.d.ts
  packages/db/sqlite3/sqlite3-bundler-friendly.mjs
  packages/db/sqlite3/sqlite3-opfs-async-proxy.js
  packages/db/sqlite3/sqlite3-worker1-promiser.mjs
  packages/db/sqlite3/sqlite3.wasm
  packages/db/sqlite3/types.d.ts
  packages/db/types.ts
Due: prettier --write, eslint --fix

fix: resolve TypeScript errors in SQLite integration
  apps/extension/src/offscreen/connectionManager.ts
  packages/db/sqlite.ts
Due: prettier --write, eslint --fix

style: apply prettier formatting to issue templates
  .github/tmp/issue49.md
  .github/tmp/issue50.md
  .github/tmp/issue51.md
Due: prettier --write

feat: integrate official sqlite3.wasm into mv3 offscreen document (#49)
  apps/extension/manifest.json
  apps/extension/src/offscreen/offscreen.html
  apps/extension/test-sqlite-wasm.html
  apps/extension/vite.config.ts
  packages/db/sqlite.ts
Due: prettier --write, eslint --fix

Revert "feat: issue 49 integrate sqlite3 wasm"
  apps/extension/manifest.json
  apps/extension/src/offscreen/offscreen.html
  apps/extension/test-sqlite-wasm.html
  apps/extension/vite.config.ts
  packages/db/sqlite.ts
Due: prettier --write, eslint --fix
